
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar bar-header bar-light">
      <!--<ion-nav-back-button class="hola123"></ion-nav-back-button>-->
      <ion-nav-buttons side="left">     
      <!-- <div>A{{usuario}}</div>   -->
        <button class="button button-sm-icon icon ion-chevron-left" ng-click="back()"></button>        
    </ion-nav-buttons>

      <ion-nav-buttons side="right">     
    	<!-- <div>A{{usuario}}</div>   -->
        <button class="button button-sm-icon icon ion-log-out" ng-click="logout()"></button>        
  	</ion-nav-buttons>
      
    </ion-nav-bar>

<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<div>
<!--<ion-tabs class="tabs-icon-bottom tabs-color-active-positive">-->
<ion-tabs>
  <ion-tab title="CHECK" icon-off="ion-android-radio-button-off" icon-on="ion-android-checkmark-circle" href="#/tab/fichaje">
    <ion-nav-view name="tab-fichada"></ion-nav-view>
  </ion-tab>

<!--  
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
-->
  <ion-tab title="CONFIG" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/config">
    <ion-nav-view name="tab-config"></ion-nav-view>
  </ion-tab>


</ion-tabs>
</div>