<ion-view view-title="Lugares" name="home-view" >
  <ion-content>

	<h5 class="text-center">Latitud: {{latitud}} - Longitud: {{longitud}}</h5>
	

	<ion-list>
      <ion-item ng-repeat="lugar in lugares" ng-click="fichar({{lugar.id}})" class="item-icon-right">		
	    <i class="icon ion-ios-arrow-right"></i>
		  <h2>{{lugar.nombre}}</h2>
		  <p>{{lugar.direccion}}</p>


		  <ion-option-button class="button button-balanced icon-left ion-map" 
		  	ng-click="mostrar_mapa(lugar)" > 
		  	Google Maps </ion-option-button>

			<ion-option-button class="button button-assertive icon-left ion-map" 
		  	ng-click="edit_mapa(lugar)" > 
		  	Edit </ion-option-button>
	  </ion-item>
	</ion-list>

  </ion-content>
</ion-view>
	