<ion-view view-title="GeoPosicion">
  <ion-content class="padding">
    <h2>Bienvenido al supersistema v0.0</h2>

      <div>
          <button class="button button-full button-positive" ng-click="get_geoposicion()">
          Guardar GeoPosicion 
      </button>
      </div>
      
      
      <div class="spinner">
        <ion-spinner id="spinner-loading-ok" ng-show="loading" class="spinner-energized"></ion-spinner>
      
      </div>
      
      <div ng-hide="mostrar_posicion()">
          <p>latitud:{{posicion.latitud}} </p>
        <p>longitud:{{posicion.longitud}} </p>      
      </div>
      
      
  </ion-content>
</ion-view>
