/* Empty. Add your own CSS if you like */


.icono-posicion{
	font-size: 200px;
	padding-top: 50px;
}

#icono-mapa{
	font-size: 50px;
}

#tab-fichada .spinner svg {
  width: 60% !important;
  height: 200px !important;
}


#map {
    width: 100%;
    height: 100%;
}

.scroll {
    height: 100%;
}


#login-view .spinner svg {
  width: 100px;
  height: 100px;
  stroke: #444;
  fill: #444;
}

#tab-fichada-lugares .spinner svg {
  width: 150px;
  height: 150px;
  stroke: #444;
  fill: #444;
}
